body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.form-container {
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button :hover {
    background-color: #218838;
}

.relative {
    position: relative;
}

.bg-white {
    background-color: white;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.ring-1 {
    border-width: 1px;
}

.ring-gray-900-5 {
    border-color: rgba(0, 0, 0, 0.05);
}

@media (min-width: 640px) {
    .sm-mx-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .sm-rounded-lg {
        border-radius: 0.5rem;
    }

    .sm-px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: 700;
}

.leading-tight {
    line-height: 1.25;
}

.divide-y > * + * {
    border-top: 1px solid rgba(209, 213, 219, 0.5); 
}
